<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="yelp-php">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="client_id" value="903XGskK28EgQ-CoMyXDYw"/>
        <env name="client_secret" value="9YiZkTsFvXkUPRaVBQMqQpHMvky7V4szBSBBS2WSKkmZgxmq8gnBwFcUiMGwseI8"/>
    </php>
</phpunit>
